@use "../../../common/variable.scss" as *;

.button {
  position: relative;
  padding: 4px 4px 4px 28px;
  background-color: $gray_button;
  border: 1px solid $black;
  font-size: 14px;
  text-align: center;
  height: fit-content;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.button__icon {
  position: absolute;
  top: calc(50% - 10px);
  left: 4px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
