@use "../../../common/variable.scss" as *;

.button {
  position: relative;
  width: 100px;
  padding: 4px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover {
    opacity: 0.8;
  }
}
.green {
  background-color: $green;
  color: $white;
  &.disable {
    background-color: $gray;
    color: $white;
    cursor: default;
    pointer-events: none;
  }
}
.blue {
  background-color: $blue;
  color: $white;
}
.red {
  background-color: $red;
  color: $white;
}

.dark {
  background-color: $dark;
  color: $white;
}
.button__icon {
  position: absolute;
  top: 7px;
  left: 14px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.search {
  margin-left: auto;
}
