@use "@/styles/common/variable.scss" as *;

.menu {
  background-color: $menu_c;
  max-width: 200px;
  width: 20%;
  z-index: 2;
  font-size: 13px;
  a,
  p {
    &:hover {
      background-color: $gray;
    }
  }
}

.employee {
  background-color: $menu_e;
}

.menu__icon {
  color: #fff;
  object-fit: contain;
  margin: 0 10px 0 0;
}
