@use "@/styles/common/variable.scss" as *;

.inputContent__wrapper {
  display: flex;
  margin-top: 12px;
  text-align: left;
}

.inputContent__wrapper input {
  display: none;
}

.inputContent__wrapper label {
  width: 24px;
}

.inputContent__wrapper p {
  font-size: 12px;
  margin-left: -12px;
}
