@use "@/styles/common/variable.scss" as *;

.inputAndLabelContent__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputAndButtonContent__wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 10px;
  input {
    width: 50px;
    padding: 2px 5px;
  }
}
