@use "@/styles/common/variable.scss" as *;

.inputContent__wrapper {
  margin-top: 4px;
  width: 100%;
  input {
    background-color: $white;
    width: 28%;
    margin-right: 4px;
    &:last-child {
      margin-right: 3px;
    }
    &:first-of-type {
      margin-left: 3px;
    }
  }
}

.inputAndLabelContent__wrapper {
  width: 100%;
  input {
    width: 95%;
    background-color: $white;
  }
}

.size {
  width: 60%;
  margin-left: 10px;
  input {
    width: 26%;
  }
}

.size__wrapper {
  width: 44%;
  input {
    width: 24%;
    margin-right: 10px;
    &:first-of-type {
      margin-left: 0px;
    }
  }
}

.wrapper {
  background-color: $bg;
  padding: 0 8px 16px 8px;
}
