@use "@/styles/common/variable.scss" as *;

.inputContent__wrapper {
  margin-top: 4px;
  width: 75%;
  input {
    width: 32%;
  }
}

.inputAndLabelContent__wrapper {
  width: 100%;
  input {
    width: 95%;
  }
}
