$white: #ffffff;
$black: #000000;
$green: #3d9727;
$blue: #6b6da6;
$light_blue: #26b5e3;
$dark: #575757;
$red: #e63b3d;
$yellow: #e39500;
$gray: #5b5b5b;
$gray_button: #eaeaea;
$gray_th: #d9d9d9;
$bg: #f0f0f0;
$bg_red: #ffc0c0;
$bg_yellow: #ffefcf;
$menu_c: #323673;
$menu_e: #343434;
